.text_white {
  color: #fff;
}

.text_blue {
  color: #18cbef;
}

.text_green {
  color: #84fb08;
}

.text_red {
  color: #e1522a;
}

.text_orange {
  color: #f76918;
}

.text_yellow {
  color: #fef9ad;
}

.text_pink {
  color: #ffc0cb;
}

.text_cyan {
  color: #0ff;
}

.text_grey {
  color: #bbb;
}

#client_chatcontainer {
  position: relative;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-image: url("dd.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#client_name {
  display: flex;
  align-items: center;
  padding: 0 0 0 2%;
  height: 6.5%;
  width: 20.9%;
  position: absolute !important;
  top: 74.8% !important;
  left: 15.9% !important;
  box-sizing: border-box;
}

#client_inner_name {
  margin: 0;
  padding: 0;
  text-align: left;
}

#client_chat {
  font-size: 1em;
  display: block;
  width: 73.8%;
  height: 18.3%;
  position: absolute !important;
  top: 81.3% !important;
  left: 15.9% !important;
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  overflow-y: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#client_inner_chat {
  padding: 0.5% 1.5%;
  margin: 0;
}

#client_chatwaiting {
  display: block;
  right: 1em;
  bottom: 0.6em;
  width: 1em;
  position: absolute;
  animation: idling 1s linear infinite;
}

@keyframes idling {
  0% {
    right: 0;
  }

  50% {
    right: 2%;
  }

  100% {
    right: 0;
  }
}

#client_trackstatus {
  display: none;
}

#client_clock {
  display: none;
}
